:root {
  --White: hsl(0, 0%, 100%);

  --Slate-300: hsl(212, 45%, 89%);
  --Slate-500: hsl(216, 15%, 48%);
  --Slate-900: hsl(218, 44%, 22%);
}

body {
  font-family: Outfit, Arial, sans-serif; /**Include a generic font family fallback to ensure reliable text rendering across all devices**/
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--Slate-300);
}

h1,
p {
  text-align: center;
  font-weight: 400;
  margin: 0.4em 0; /**Use em instead of px to support resizing and improve accessibility**/
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 440px;
  width: 280px;
  background-color: var(--White);
  border-radius: 10px;
  padding-block-start: 10px; /**Use direction-agnostic CSS so layouts work in both LTR and RTL languages**/
  padding-block-end: 20px;
  padding-inline-start: 10px;
  padding-inline-end: 10px;
  box-shadow: 3px 8px 25px var(--Slate-500);
}

img {
  margin-block-start: 10px;
  width: 260px;
  border-radius: inherit;
}

.title {
  height: 60px;
  width: 260px;
  font-weight: 700;
  color: var(--Slate-900);
  margin-block-start: 20px;
  font-size: 20px;
}

.text {
  width: 260px;
  font-size: 15px;
  color: var(--Slate-500);
}

.attribution {
  position: absolute;
  bottom: 0;
}